In [40]:
import requests
from bs4 import BeautifulSoup as BS
import re
articles_data = []

In [41]:
for page in range(1, 11):
    text = requests.get(f'https://www.e1.ru/text/?page={page}').text
    soup = BS(text)
    articles = soup.find_all('article', {'class': 'OPHIx'})
    for article in articles:
        title = article.find('h2', {'class': 'h9Jmx'}).find('a').text
        try:
            views = article.find('span', {'class': '_3mETe'}).text
            views = int(''.join(re.findall(r'\d+', views)))
        except AttributeError:
            views = None
        articles_data.append({'title': title, 'views': views})

In [43]:
import pandas as pd

df = pd.DataFrame(articles_data)
df.sort_values('views', ascending=False)

                                                 title    views
120  «Шла домой с улыбкой». В Екатеринбурге 15-летн...  86923.0
328  «Повернулась к ребенку поговорить — и стало ст...  76623.0
147  В живых остался один. Екатеринбуржец узнал про...  72827.0
210  Никто не пришел на фан-встречу… на концерт поп...  67701.0
382  «Говорили, что он сам хотел». В Екатеринбурге ...  59576.0
..                                                 ...      ...
4    Известный банк повысил ставки по накопительном...   1022.0
3    Старейший хлебокомбинат области обновил упаков...    974.0
20   Ликвидация склада: у официального дилера дейст...    697.0
0    Покупаем правый руль: во сколько обойдутся сня...    385.0
96   Они строят Россию: все самое интересное про от...      NaN

[400 rows x 2 columns]